.changeable{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    font-size: 40px;
    border-radius: 30px;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    box-shadow: 0px -25px 64px -19px rgba(0,0,0,0.45),
                25px 0px 20px -20px rgba(0,0,0,0.45),
                0px 25px 20px -20px rgba(0,0,0,0.45),
                -25px 0px 20px -20px rgba(0,0,0,0.45);
}
body{
    background-image: url(2023-Bentley-Continental-GT-V8-S-007-2160.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}
a:hover{
    background-color: red;
    color: white;
    border-radius: 7px;
    text-decoration: underline;
    transition: all 0.3s;
}